@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #101010;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

@font-face {
  font-family: 'Graphik';
  src: url('./fonts/Graphik-Regular-Trial.otf') format('opentype');
}
